 *{
    margin: 0px;
    padding: 0px;

}

.student-score{
    
    width: 60vw;
    position: absolute;
    line-height: 70px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    animation: fadein 1s ease-in-out;
    z-index: 2;
}
.back-color
{
    background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #031d64, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #031d64, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.text-color{
    color:#031d64
}
.btn-text{
    font-size: 1.2rem;
}
.specific{
    position:fixed;
    top: 0px;
    left: 0px;
    background-color:rgba(0,0,0,0.8);
    animation: justfadein 1s;    
    width:100%;
    height:100%;    
    z-index:1;
    

}


@keyframes fadein {
    from { opacity: 0; 
        transform: translate(-50%,-0%);
        
    
    }
    to   { opacity: 1; 
         transform: translate(-50%,-50%);
    }
}
@keyframes justfadein {
    from { opacity: 0; 
        
        
    
    }
    to   { opacity: 1; 
         
    }
}

